 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_user">
   

        <div class="form-group">
            <label for="Meerderekeus" class="text-light">Vraag: </label>
            <div class="">
                <input type="text" id="" name="question" >
                <label for="radio-4" class="radio-label">Juiste Antwoord:</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="correctanswer" value="A" >
                <label for="radio-4" class="radio-label">Antwoord A</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="correctanswer" value="B" >
                <label for="radio-5" class="radio-label">Antwoord B</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Opslaan</button>
        </div>

    </div>
</form>